---
// Astro에 오신 것을 환영합니다!
// 이 삼중 대시 코드 펜스 사이의 모든 것은 "컴포넌트 프런트매터"입니다.
// 브라우저에서 절대 실행되지 않습니다.
console.log('이것은 브라우저가 아닌 터미널에서 실행됩니다!');
---
<!-- 아래는 "컴포넌트 템플릿"입니다.
    HTML일 뿐이지만, 훌륭한 템플릿을 만드는 데 도움이 되는 몇 가지 마법이 뿌려져 있습니다. -->
<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>